[Desktop Entry]
Name=KFourInLine
Name[de]=Vier gewinnt
GenericName=Four-in-a-row Board Game
GenericName[ca]=Joc de quatre en fila
GenericName[de]=Vier-Gewinnt Brettspiel
GenericName[el]=Επιτραπέζιο παιχνίδι Τέσσερα στη σειρά
GenericName[eo]=Gobanga bretludo
GenericName[es]=Juego de tablero cuatro en línea
GenericName[et]=Neli ritta lauamäng
GenericName[it]=Quattro-in-fila, gioco da tavolo
GenericName[ja]=四目並べ
GenericName[ko]=한 줄에 네 개 보드 게임
GenericName[lv]=Četri rindā galda spēle
GenericName[nl]=Vier-op-een-rij bordspel
GenericName[pt]=Jogo de Tabuleiro Quatro-em-Linha
GenericName[pt_BR]=Jogo de Tabuleiro Quatro-em-Linha
GenericName[sl]=Namizna igra Štiri v vrsto
GenericName[sv]=Fyra-i-rad brädspel
GenericName[x-test]=xxFour-in-a-row Board Gamexx
GenericName[zh_CN]=四子连珠游戏
GenericName[zh_TW]=四子棋棋盤遊戲
Exec=kfourinline
Icon=kfourinline
MimeType=
SwallowExec=
SwallowTitle=
Terminal=false
Type=Application
X-DocPath=kfourinline/index.html
Categories=Qt;KDE;Game;BoardGame;
