[Desktop Entry]
Name=KFourInLine
GenericName=Four-in-a-row Board Game
Exec=kfourinline
Icon=kfourinline
MimeType=
Terminal=false
Type=Application
X-DocPath=kfourinline/index.html
Categories=Qt;KDE;Game;BoardGame;
