<!DOCTYPE kpartgui>
<kpartgui name="standard_containers" version="4">
<MenuBar>
  <Menu name="game"><text>&amp;Game</text>
    <Action name="new_game"/>
    <Action name="open"/>
    <Action name="save"/>
    <Action name="end_game"/>
    <Separator />
    <Action name="file_network"/>
    <Action name="file_chat"/>
    <Action name="file_debug"/>
    <Separator />
    <Action name="statistics"/>
    <Separator />
    <Action name="hint"/>
    <Separator />
    <Action name="game_exit"/>
  </Menu>
  <Menu name="options"><text>&amp;Options</text>
    <Action name="startplayer"/>
    <Action name="player1"/>
    <Action name="player2"/>
    <Action name="choose_level"/>
    <Action name="change_names"/>
    <Action name="show_statusbar"/>
  </Menu>
</MenuBar>
<StatusBar/>
</kpartgui>
