[Desktop Entry]
Comment[C]=Four wins
Exec=kwin4
Icon=kwin4
MimeType=
Name[C]=Four wins
SwallowExec=
SwallowTitle=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=0
X-KDE-Username=
