[Desktop Entry]
Encoding=UTF-8
Name=KWin4
Name[x-test]=xxKWin4xx
GenericName=Strategy Game
GenericName[x-test]=xxStrategy Gamexx
Exec=kwin4
Icon=kwin4
MimeType=
SwallowExec=
SwallowTitle=
Terminal=false
Type=Application
DocPath=kwin4/index.html
Categories=Qt;KDE;Game;BoardGame;
