[Desktop Entry]
Encoding=UTF-8
Name=KWin4
Name[af]=Kwin4
Name[de]=Vier gewinnt
Name[eo]=Kvar venkas
Name[es]=Kwin4
Name[hr]=Kwin4
Name[hu]=Négy a nyerő
Name[pt_BR]=Kwin4
Name[ru]=Четыре побеждают
Name[sv]=Kwin4
Name[th]=เรียงหมาก 4 - K
Name[zu]=I-KWin4
GenericName=Strategy Game
GenericName[af]=Strategie Speletjie
GenericName[be]=Стратэгічная гульня
GenericName[bg]=Стратегическа Игра
GenericName[bs]=Strateška igra
GenericName[cs]=Strategická hra
GenericName[da]=Strategispil
GenericName[de]=Strategiespiel
GenericName[el]=Παιχνίδι στρατηγικής
GenericName[eo]=Strategiludo
GenericName[es]=Juego de estrategia
GenericName[et]=Strateegia mäng
GenericName[fa]=بازی استراتژیک
GenericName[fi]=Strategiapeli
GenericName[fo]=Strategispæl
GenericName[fr]=Jeu de stratégie
GenericName[he]=משחק אסטרטגיה
GenericName[hr]=Igra strategije
GenericName[hu]=stratégiai
GenericName[it]=Gioco di strategia
GenericName[ja]=戦略ゲーム
GenericName[lv]=Stratēģiskā Game
GenericName[mt]=Logħba ta' strateġija
GenericName[nb]=Taktikkspill
GenericName[nl]=strategisch spel
GenericName[nn]=Strategispel
GenericName[pl]=Gra strategiczna
GenericName[pt]=Jogo de Estratégia
GenericName[pt_BR]=Estratégia
GenericName[ro]=Joc de strategie
GenericName[ru]=Стратегия
GenericName[sk]=Strategická hra
GenericName[sl]=Strateška igra
GenericName[ss]=Umdlalo wekusebentisa indlela yekwenta
GenericName[sv]=Strategispel
GenericName[th]=เกมกลยุทธ์
GenericName[tr]=Strateji Oyunu
GenericName[uk]=Гра на стратегію
GenericName[ven]=Mutambo wa Maitele
GenericName[xh]=Indlela yokudlala umdlalo
GenericName[zh_CN]=策略游戏
GenericName[zh_TW]=策略遊戲
GenericName[zu]=Umdlalo wamaqhinga
Exec=kwin4
Icon=kwin4
MimeType=
SwallowExec=
SwallowTitle=
Terminal=0
TerminalOptions=
Type=Application
DocPath=kwin4/index.html
Categories=Qt;KDE;Game;BoardGame
