[Theme]
Name=Black and Red
Name[be]=Белыя і чырвоныя
Name[ca]=Negre i Vermell
Name[de]=Schwarz und Rot
Name[el]=Μαύρο και κόκκινο
Name[eo]=Nigra kaj ruĝa
Name[es]=Negro y rojo
Name[et]=Must ja punane
Name[fa]=سیاه و سفید
Name[fi]=Musta ja punainen
Name[ga]=Dubh agus Dearg
Name[gl]=Negro e vermello
Name[it]=Nero e rosso
Name[ja]=黒と赤
Name[ko]=검은색과 빨간색
Name[lv]=Melns un sarkans
Name[ne]=कालो र रातो
Name[nl]=Zwart en rood
Name[pt]=Preto e Vermelho
Name[pt_BR]=Preto e Vermelho
Name[sl]=Črno in rdeče
Name[sv]=Svart och röd
Name[te]=నలుపు మరయు ఎరుపు
Name[uk]=Чорний і червоний
Name[wa]=Noer et rodje
Name[x-test]=xxBlack and Redxx
Name[zh_CN]=黑与红
Name[zh_TW]=黑與紅
File=default.rc
Default=true
