[Theme]
Name=Black and Red
Name[be]=Белыя і чырвоныя
Name[bs]=Crni i crveni
Name[ca]=Negre i Vermell
Name[ca@valencia]=Negre i Roig
Name[da]=Sort og rød
Name[de]=Schwarz und Rot
Name[el]=Μαύρο και κόκκινο
Name[en_GB]=Black and Red
Name[eo]=Nigra kaj ruĝa
Name[es]=Negro y rojo
Name[et]=Must ja punane
Name[eu]=Beltza eta gorria
Name[fa]=سیاه و قرمز
Name[fi]=Musta ja punainen
Name[fr]=Rouge et noir
Name[ga]=Dubh agus Dearg
Name[gl]=Negro e vermello
Name[hi]=काला और लाल
Name[hne]=काला अउ लाल
Name[hu]=Fekete-vörös
Name[id]=Hitam dan Merah
Name[it]=Rosso e nero
Name[ja]=黒と赤
Name[kk]=Қара мен қызыл
Name[km]=ខ្មៅ និង​ក្រហម
Name[ko]=검은색과 빨간색
Name[lt]=Juoda ir raudona
Name[lv]=Melns un sarkans
Name[mr]=काळा व लाल
Name[nb]=Svart og rød
Name[nds]=Swatt un Root
Name[ne]=कालो र रातो
Name[nl]=Zwart en rood
Name[nn]=Svart og raud
Name[pl]=Czarny i czerwony
Name[pt]=Preto e Vermelho
Name[pt_BR]=Preto e vermelho
Name[ro]=Negru și roșu
Name[ru]=Чёрный и красный
Name[sk]=Čierna a červená
Name[sl]=Črno in rdeče
Name[sq]=E Zezë dhe e Kuqe
Name[sr]=Црно и црвено
Name[sr@ijekavian]=Црно и црвено
Name[sr@ijekavianlatin]=Crno i crveno
Name[sr@latin]=Crno i crveno
Name[sv]=Svart och röd
Name[te]=నలుపు మరయు ఎరుపు
Name[tr]=Siyah ve Kırmızı
Name[uk]=Чорний і червоний
Name[wa]=Noer et rodje
Name[x-test]=xxBlack and Redxx
Name[zh_CN]=黑与红
Name[zh_TW]=黑與紅
File=default.rc
Default=true
