[Theme]
Name=Black and Red
Name[be]=Белыя і чырвоныя
Name[de]=Schwarz und Rot
Name[el]=Μαύρο και κόκκινο
Name[es]=Negro y rojo
Name[fa]=سیاه و سفید
Name[fi]=Musta ja punainen
Name[ga]=Dubh agus Dearg
Name[gl]=Negro e vermello
Name[ja]=黒と赤
Name[ne]=कालो र रातो
Name[nl]=Zwart en rood
Name[pt]=Preto e Vermelho
Name[pt_BR]=Preto e Vermelho
Name[sv]=Svart och röd
Name[te]=నలుపు మరయు ఎరుపు
Name[wa]=Noer et rodje
Name[zh_CN]=黑红组合
Name[zh_TW]=黑與紅
File=default.rc
