[Theme]
Name=True Reflection
Name[ca]=Reflex Real
Name[de]=Echte Reflexion
Name[el]=Πραγματική αντανάκλαση
Name[es]=Reflexión real
Name[fi]=Aito heijastus
Name[ko]=진짜 반사
Name[nl]=Echte weerspiegeling
Name[pt]=Reflexão Verdadeira
Name[pt_BR]=Reflexão Verdadeira
Name[sv]=Sann reflektion
Name[x-test]=xxTrue Reflectionxx
Name[zh_CN]=真反射
Name[zh_TW]=真實反射
File=gray_reflection.rc

