[Theme]
Name=True Reflection
Name[el]=Πραγματική αντανάκλαση
Name[es]=Reflexión real
Name[pt]=Reflexão Verdadeira
Name[pt_BR]=Reflexão Verdadeira
Name[sv]=Sann reflektion
Name[zh_TW]=真實反射
File=gray_reflection.rc

