[Default]
Name=Black and Red
Name[be]=Белыя і чырвоныя
Name[el]=Μαύρο και κόκκινο
Name[es]=Negro y rojo
Name[fa]=سیاه و سفید
Name[ga]=Dubh agus Dearg
Name[ja]=黒と赤
Name[ne]=कालो र रातो
Name[pt]=Preto e Vermelho
Name[pt_BR]=Preto e Vermelho
Name[sv]=Svart och röd
Name[te]=నలుపు మరయు ఎరుపు
Name[zh_TW]=黑與紅
File=default.rc

[Yellow]
Name=Yellow and Red
Name[be]=Жоўтыя і чырвоныя
Name[el]=Κίτρινο και κόκκινο
Name[es]=Amarillo y rojo
Name[fa]=زرد و قرمز
Name[ga]=Buí agus Dearg
Name[ja]=黄色と赤
Name[ne]=पहेँले र रातो
Name[pt]=Amarelo e Vermelho
Name[pt_BR]=Amarelo e Vermelho
Name[sv]=Gul och röd
Name[te]=పసుపు మరయు ఎరుపు
Name[zh_TW]=黃與紅
File=yellow.rc

[Pretty]
Name=True Reflection
Name[pt]=Reflexão Verdadeira
Name[pt_BR]=Reflexão Verdadeira
File=pretty.rc
