[Theme]
Name=Yellow and Red Reflection
Name[ca]=Groc i Vermell amb reflex
Name[de]=Gelb und Rot Reflexion
Name[el]=Κίτρινη και κόκκινη αντανάκλαση
Name[es]=Reflexión amarilla y roja
Name[et]=Kollane ja punane peegel
Name[fi]=Keltainen ja punainen heijastus
Name[ga]=Frithchaitheamh Buí agus Dearg
Name[it]=Riflessi gialli e rossi
Name[ja]=黄色と赤の反射
Name[ko]=노란색과 빨간색 반사
Name[nl]=Geel- en rood-weerspiegeling
Name[pt]=Reflexão a Amarelo e Vermelho
Name[pt_BR]=Reflexão a Amarelo e Vermelho
Name[sl]=Rumeno in rdeče z odsevom
Name[sv]=Gul och röd reflektion
Name[x-test]=xxYellow and Red Reflectionxx
Name[zh_CN]=黄红反射
Name[zh_TW]=黃與紅反射
File=yellow_reflection.rc

