[Theme]
Name=Yellow and Red
Name[be]=Жоўтыя і чырвоныя
Name[bs]=Žuto i crveno
Name[ca]=Groc i Vermell
Name[ca@valencia]=Groc i Roig
Name[da]=Gul og rød
Name[de]=Gelb und Rot
Name[el]=Κίτρινο και κόκκινο
Name[en_GB]=Yellow and Red
Name[eo]=Flava kaj ruĝa
Name[es]=Amarillo y rojo
Name[et]=Kollane ja punane
Name[eu]=Horia eta gorria
Name[fa]=زرد و قرمز
Name[fi]=Keltainen ja punainen
Name[fr]=Jaune et rouge
Name[ga]=Buí agus Dearg
Name[gl]=Amarelo e vermello
Name[hi]=पीला और लाल
Name[hne]=पीला अउ लाल
Name[hu]=Sárga-vörös
Name[id]=Kuning dan Merah
Name[it]=Giallo e rosso
Name[ja]=黄色と赤
Name[kk]=Сары мен қызыл
Name[km]=​លឿង និង​ក្រហម
Name[ko]=노란색과 빨간색
Name[lt]=Geltona ir raudona
Name[lv]=Dzeltens un sarkans
Name[mr]=पिवळा व लाल
Name[nb]=Gul og rød
Name[nds]=Geel un Root
Name[ne]=पहेँले र रातो
Name[nl]=Geel en rood
Name[nn]=Gul og raud
Name[pl]=Żółty i czerwony
Name[pt]=Amarelo e Vermelho
Name[pt_BR]=Amarelo e vermelho
Name[ro]=Galben și roșu
Name[ru]=Жёлтый и красный
Name[sk]=Žltá a červená
Name[sl]=Rumeno in rdeče
Name[sq]=E Verdhë dhe e Kuqe
Name[sr]=Жуто и црвено
Name[sr@ijekavian]=Жуто и црвено
Name[sr@ijekavianlatin]=Žuto i crveno
Name[sr@latin]=Žuto i crveno
Name[sv]=Gul och röd
Name[te]=పసుపు మరయు ఎరుపు
Name[tr]=Sarı ve Kırmızı
Name[uk]=Жовтий і червоний
Name[x-test]=xxYellow and Redxx
Name[zh_CN]=黄与红
Name[zh_TW]=黃與紅
File=yellow.rc
Default=false

