[Theme]
Name=Yellow and Red Reflection
Name[bs]=Žuta i crvena reflekcija
Name[ca]=Groc i Vermell amb reflex
Name[ca@valencia]=Groc i Roig amb reflex
Name[da]=Gul og rød refleksion
Name[de]=Gelb- und Rotspiegelung
Name[el]=Κίτρινη και κόκκινη αντανάκλαση
Name[en_GB]=Yellow and Red Reflection
Name[es]=Reflejo amarillo y rojo
Name[et]=Kollane ja punane peegel
Name[eu]=Horia eta gorria islapena
Name[fa]=انعکاس زرد و قرمز
Name[fi]=Keltainen ja punainen heijastus
Name[fr]=Jaune et rouge avec réflexion
Name[ga]=Frithchaitheamh Buí agus Dearg
Name[gl]=Amarelo con reflexos vermellos
Name[hi]=पीला तथा लाल परावर्तन
Name[hne]=पीला अउ लाल परावर्तन
Name[hu]=Sárga-vörös visszaverődés
Name[id]=Pembelokan Kuning dan Merah
Name[it]=Riflessi gialli e rossi
Name[ja]=黄色と赤の反射
Name[kk]=Сары мен қызылдың шағылуы
Name[km]=ការ​ឆ្លុះ​ពណ៌​លឿង និង​ក្រហម
Name[ko]=노란색과 빨간색 반사
Name[lv]=Dzeltens un sarkans atspīdums
Name[mr]=पिवळा व लाल प्रतिबिंब
Name[nb]=Gul og rød med refleksjoner
Name[nds]=Geel un root Torüchstrahlen
Name[nl]=Geel- en rood-weerspiegeling
Name[nn]=Gul og raud med refleksjonar
Name[pl]=Żółty i czerwone odbicia
Name[pt]=Reflexão a Amarelo e Vermelho
Name[pt_BR]=Amarelo e vermelho com reflexo
Name[ro]=Reflecție galbenă și roșie
Name[ru]=Жёлтое и красное отражения
Name[sk]=Žltá a červené odlesky
Name[sl]=Rumeno in rdeče z odsevom
Name[sq]=Pasqyrim i të Verdhës dhe të Kuqes
Name[sr]=Жуто и црвено са рефлексијом
Name[sr@ijekavian]=Жуто и црвено са рефлексијом
Name[sr@ijekavianlatin]=Žuto i crveno sa refleksijom
Name[sr@latin]=Žuto i crveno sa refleksijom
Name[sv]=Gul och röd reflektion
Name[tr]=Sarı ve Kırmızı Yansıma
Name[uk]=Відбиття жовтого і червоного
Name[x-test]=xxYellow and Red Reflectionxx
Name[zh_CN]=黄红反射
Name[zh_TW]=黃與紅反射
File=yellow_reflection.rc

