[Theme]
Name=Yellow and Red
Name[be]=Жоўтыя і чырвоныя
Name[de]=Gelb und Rot
Name[el]=Κίτρινο και κόκκινο
Name[es]=Amarillo y rojo
Name[fa]=زرد و قرمز
Name[fi]=Keltainen ja punainen
Name[ga]=Buí agus Dearg
Name[ja]=黄色と赤
Name[ne]=पहेँले र रातो
Name[nl]=Geel en rood
Name[pt]=Amarelo e Vermelho
Name[pt_BR]=Amarelo e Vermelho
Name[sv]=Gul och röd
Name[te]=పసుపు మరయు ఎరుపు
Name[zh_CN]=黄红组合
Name[zh_TW]=黃與紅
File=yellow.rc

