[general]
svgfile=yellow.svg

# A game piece in the introduction
[intro_piece]
# 'pos' set by program!
width=0.06
# Auto means to read frameX
svgid=auto
start-frame=0
end-frame=1
frame0=piece0
frame1=piece1

# A game piece
[piece]
center=true
zValue=150.0
width=0.045
# Auto means to read frameX
start-frame=0
end-frame=1
svgid=auto
frame0=piece0
frame1=piece1
# 'pos' set by program!

# A HINT piece
[hint]
center=true
zValue=150.0
width=0.045
svgid=hint
# 'pos' set by program!


# Arrow to indicate the column to play
[arrow]
#center=true
width=0.045
zValue=250.0
# Auto means to read frameX
start-frame=0
end-frame=2
svgid=auto
frame0=arrow
frame1=arrow0
frame2=arrow1
# 'pos' set by program!


# A star to indicate the winning pieces
[star]
zValue=200.0
width=0.045
center=true
start-frame=0
end-frame=7
# Scale pixmaps with reference to this frame (which get size width)
ref-frame=star4
# Auto means to read frameX
svgid=auto
frame0=star0
frame1=star1
frame2=star2
frame3=star3
frame4=star4
frame5=star5
frame6=star6
frame7=star7
# Frame delay in [ms]
animation-delay=100
# 'pos' set by program!


# The score board next to the game board
[scoreboard]
width=0.28
pos=0.63,0.044
zValue=100.0
svgid=auto
start-frame=0
end-frame=1
# Auto means to read frameX
svgid=auto
frame0=score_player
frame1=score_ai

# Item positions relativ to score widget itself
posWon0=0.05,0.33
posDraw0=0.05,0.44
posLoss0=0.05,0.55
posBreak0=0.05,0.66
posName0=0.05,0.78
posWon1=0.65,0.33
posDraw1=0.65,0.44
posLoss1=0.65,0.55
posBreak1=0.65,0.66
posName1=0.65,0.78
#posAI=0.35,0.90
# Font width height relativ to score widget size!!!
fontHeight=0.067
fontWidth=0.35
# Font color
fontColorActive=255,255,0
fontColorPlayer0=255,255,255
fontColorPlayer1=255,0,0

# The game board (frame)
[board]
svgid=board
width=0.44
pos=0.1,0.1
zValue=10.0

# The game over message
[gameover]
svgid=gameover
width=0.30
pos=0.62,0.19
zValue=300.0


# One 'hole' in the game board
[boardholes]
svgid=piece
center=true
# 'pos' set by program!
width=0.045
zValue=15.0

# The display itself
[gamedisplay]
# SVG Id of background grafix
background-svgid=background
# Position of board for sprite movement
board-pos=0.1431,0.1430
# Spread of sprites for board columns
board-spread=0.0586,0.0588
# Movebar arrow position (must be same than movebar pos)
arrow-pos=0.12,0.04
# Velocity [relativ/second] for move animation
move-velocity=0.5




